# Arquivos de log
*.log
logs/

# Arquivos gerados pelo Maven
target/

# Arquivos gerados pela IDE (IntelliJ)
.idea/
*.iml

# Arquivos de configuração local que podem conter senhas
config.properties

# Relatórios e evidências geradas
Evidencias/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
